.top{
    height:25%;
    position: relative;
    background-color: rgb(4, 13, 61);
  }
  .bottom{
  position: fixed;
  z-index: 1;
  color: black;
  }
  .bottom-nav{
    position:fixed;
    background-color: white;
  }