a{
    text-decoration: none;
  }
  .super{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    box-shadow: 1px 0px 10px 0.5px rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    bottom:0;
    left:-100%;
    transition: left 0.2s ease-in-out;
    z-index: 100;
    background-color: white;
  }
  .top1{
    border-bottom:4px solid rgb(4, 13, 61);
    height:20%;
    position: relative;
    }
    .app-name{
        position: absolute;
        top:65%;
        left:5%;
        font-size: 2em;
        color: rgb(4, 13, 61);
        padding-bottom: 5px;
    }
    .cross{
      position: absolute;
      top:5px;
      right:5px;
      height:20px;
      width:20px;
      align-items: center;
    }
    .cross img{
      height:100%;
    }
  .bottom1{
    margin-top: 15px;;
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .cards{
    width:90%;
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  .content{
    margin:5px 0px;
    border-radius:5px;
    color: rgb(4, 13, 61);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
  }
  .icon1{
    width:5%;
  }
  .text-holder{
    width:95%;
  }
  .content div{
    padding: 5px;
  }
  .nav{
    background-color: rgb(4, 13, 61);
    text-align: center;
    color:white;
    padding:10px 0px;
    position: fixed;
    bottom:0;
    width: 80vw;
  }
  #open, #close{
    display:none;
    height: 10px;
    width: 10px;
  }
  #open:checked ~ .super
  {
  left:0;
  }
  #close:checked ~ .super{
    left:-100%;
  }
#overlay{
  display: none;
  position: fixed;
  right:0;top:0;bottom:0;
  width:20vw;
  z-index: 100;
}
#open:checked ~ #overlay{
  display: block;
}