.buses-list{
    background-color: white;
    margin-top:20px;
    color: rgb(0, 0, 0);
    padding-bottom: 60px;
    list-style: none;
    height: 100%;
}
.buses{
    padding: 2%;
    border:solid 1px rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    height: 100%;
}
.bus-container{
    border-radius: 20px;
    margin-bottom: 3%;
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.25);
    padding: 1%;
}
.bus-container-left{
    max-width: 500px;
    justify-content: space-between;
    flex:1;
}
.bus-container-right{

    display: flex;
    justify-content: flex-end;
    align-items: top;
}
.bus-left-line1{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.bus-arriving{
    margin-left:1%;
    color: green;
}

.bus-departing{
    margin-left:1%;
    color: red;
}

.bus-left-line2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}
.arrow-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height:30px;
}
.bus-arrow{
    width:50%;
}

.bus-right-time{
    padding:1px;
    border-radius:3px;
    color: rgb(0, 156, 0);
}

.bus-left-line3{
    display: flex;
}

.bus-features{
    border-radius: 5px;
    padding: 0.5%;
    background-color: rgba(0,0,0,0.1);
    margin-right: 2%;
}